<h3 class="text-uppercase">Schedule</h3>
<h6>
    It's going to be busy that today. You have
    <b> {{ eventCount }} events </b> today.
</h6>
<h1 class="my-3">
    <div class="row">
        <div class="col-3 text-center">
            <mdb-icon fas icon="sun"></mdb-icon>
        </div>
        <div class="col-9 ">Sunny</div>
    </div>
    <div class="row">
        <div class="col-3 text-center">
            <mdb-icon
                fas
                icon="thermometer-three-quarters"
            ></mdb-icon>
        </div>
        <div class="col-3 ">23°C</div>
    </div>
</h1>
<p>
    Don't forget your sunglasses. Today will dry and sunny, becoming
    warm in the afternoon with temperatures of between 20 and 25
    degrees.
</p>
